@model Department 
@{
    ViewData["Title"] = "Create";
}

@if (TempData["Message"] is not null)
{
   <div class="alert alert-success">
    @TempData["Message"]
</div> 
}

<h1>Create new department </h1>
<form asp-action="Create" method="post">
<div class="form-group">
    <label class="col-form-label" asp-for="Code">
    </label>
    <input class="form-control" asp-for="Code" />
   <span asp-validation-for="Code" class="text-danger"></span>
</div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Name">
        </label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="DateOfCration">
        </label>
        <input class="form-control" asp-for="DateOfCration" />
        <span asp-validation-for="DateOfCration" class="text-danger"></span>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-light">Back to list </a>
</form>

@section ValidationScriptSection {
    <partial name="_ValidationScriptsPartial" />
}
