@model Department
@{
    ViewData["Title"] = "Delete";
}

<h1>Are you sure to delete @Model.Name deartment </h1>
<form asp-action="Delete" >
<div class="form-group">
    <label class="col-form-label" asp-for="Code">
    </label>
    <input readonly class="form-control" asp-for="Code" />
    <span asp-validation-for="Code" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Name">
    </label>
    <input readonly class="form-control" asp-for="Name" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="DateOfCration">
    </label>
    <input readonly class="form-control" asp-for="DateOfCration" />
    <span asp-validation-for="DateOfCration" class="text-danger"></span>
    </div>
    <input type="submit" value="Delete" class="btn btn-danger"/> |
    <a asp-action="Index" class="btn btn-light">Back to list </a>
</form>