@model Department
@{
    ViewData["Title"] = "Details";
}

<h1> Department @Model.Name Details</h1>


    <div class="form-group">
        <label class="col-form-label" asp-for="Code">
        </label>
        <input readonly class="form-control" asp-for="Code" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Name">
        </label>
        <input readonly class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="DateOfCration">
        </label>
        <input readonly class="form-control" asp-for="DateOfCration" />
        <span asp-validation-for="DateOfCration" class="text-danger"></span>
    </div>
  <a asp-action="Edit" class="btn btn-secondary"> edit</a>|
<a asp-action="Index" class="btn btn-light">Back to list </a>
