
@model EmoployeeViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create new Employee </h1>
<form asp-action="Create" enctype="multipart/form-data">
   
    <partial name="PartialViews/CreateEditePartialView" />

    <input type="submit" value="Submit" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-light">Back to list </a>
</form>

@section ValidationScriptSection {
    <partial name="_ValidationScriptsPartial" />
}